# Byte-compiled / optimized / DLL files__pycache__/*.py[cod]*$py.class# Django specific*.loglocal_settings.pydb.sqlite3/db.sqlite3-journalmedia/staticfiles/.env*.env# Virtual environmentvenv/env/*/venv/*/env/pip-log.txtpip-delete-this-directory.txt# VS Code settings.vscode/# PyCharm.idea/*.iml# Jupyter Notebook.ipynb_checkpoints# MySQL / Postgres*.pid*.seed*.dump*.sqlite3# macOS.DS_Store# WindowsThumbs.dbehthumbs.dbDesktop.ini# Celerycelerybeat-schedulecelerybeat.pid# Migrations (optional, if you don’t want to track them)**/migrations/*.py!**/migrations/__init__.py/venv